- odd ||= false
- if odd
  - stripe_class = "pure-table-odd"
- else
  - stripe_class = ""

%tr{id: "criterium_details_" + criterium.id.to_s, class: stripe_class}
  %td
    = criterium.details
  %td
    %span.criteria-comments
      %span{class: "criteria-comments-count_#{criterium.id.to_s}"}= criterium.comments.size.to_s 
      = link_to_function fa_icon("microphone"), "$('#criteria_comment_#{criterium.id.to_s}').toggle();"
  %td
    %div{class: "dev_" + dom_id(criterium)}
      - if !criterium.dev_test
        = render partial: "criteria/dev_test_unresolved", locals: {criterium: criterium}
      - else
        = render partial: "criteria/dev_test_resolved", locals: {criterium: criterium}
  %td
    %div{class: "functional_" + dom_id(criterium)}
      - if !criterium.functional_test
        = render partial: "criteria/functional_test_unresolved", locals: {criterium: criterium}
      - else
        = render partial: "criteria/functional_test_resolved", locals: {criterium: criterium}
  %td
    %div{class: "criterium_user_" + dom_id(criterium)}
      = criterium.user.name
  %td
    %div{id: "criteria_action_" + dom_id(criterium), class: "criteria-action"}
      = link_to fa_icon("times-circle"), criterium_path(criterium, criterium: {story_id: criterium.story_id}), {method: "delete", remote: true, story_id: criterium.story_id, class: "", title: "Delete"}
  %tr{id: "criteria_comment_#{criterium.id.to_s}", style: "display: none;"}
    %td{colspan: 10}
      %div.comments
        = render partial: "criteria/comments", locals: {criterium: criterium}
