%div.sub-menu-container
  %span.site-title= link_to "Story Tracker", root_path, {class: "pure-menu-heading"}

  - if current_user and @project
    - if !@project.id.blank?
      %span.project-title= @project.name
      = link_to fa_icon("edit"), new_project_story_path(@project, {}), { class: "pure-button pure-button-success", title: "New Story"}
      = link_to fa_icon("sort-amount-desc"), manage_project_path(@project), {class: "pure-button", title: "Manage Stories"}
      = link_to "Current Iteration", project_iteration_path(@project, @project.iterations.current), {class: "pure-button"}
      = link_to "Icebox", project_iteration_path(@project, @project.iterations.icebox), {class: "pure-button"}
      = link_to "Iterations", project_iterations_path(@project), {class: "pure-button"}
  %div.menu-right
    - if current_user
      = link_to current_user.name + " (#{current_user.provider})", "", {class: "pure-button"}
      = link_to fa_icon("sign-out"), signout_path, {class: "pure-button pure-button-error", title: "Sign Out"}
    - else
      / = link_to "Login", welcome_options_path
      - if Settings.auth.windows
        = link_to "Login with Windows ", "/ldap/welcome", {class: "pure-button"}
      - if Settings.auth.twitter
        = link_to "Login with Twitter ", "/auth/twitter", {class: "pure-button"}
      - if Settings.auth.github
        = link_to "Login with Github ", "/auth/github", {class: "pure-button"}