%ul.sortme.story-list.ui-sortable{id: list_type}
  - stories.each do |story|
    %li.story-list{id: "story_#{story.id}", class: "status-#{story.status.name.downcase}"}
      %div.pure-g-r
        %div.pure-u-1-6
          = story.business_value 
          \/
          = story.complexity_value 

        %div.pure-u-5-6
          %b As a(n):
          = story.stakeholder
          %b I want to:
          = story.behavior
          %b So that:
          = story.goal