%ul.sortme.story-list.ui-sortable{id: list_type}
  - stories.each do |story|
    %li.story-list{id: "story_#{story.id}", class: "status-#{story.status.name.downcase}"}
      %div.pure-g-r
        %div.pure-u-1-12.valuations
          BV:
          = story.business_value
          %br
          CV:
          = story.complexity_value
          %br
          = link_to 'Details', project_story_path(@project, story), { class: "pure-button pure-button-success"}
        %div.pure-u-1-6.story-activity
          %span.dev-criteria
            Dev:
            = story.criteria.dev_test_solved.size
            \/
            = story.criteria.size
          %br
          %span.functional-criteria
            Functional:
            = story.criteria.functional_test_solved.size
            \/
            = story.criteria.size
          %br
          %ul.users
            - story.users.each do |user|
              = user.login_name
        %div.pure-u-7-12
          %div.story-details--stakeholder
            %span.story-text
              As a:
            = story.stakeholder
          %div.story-details--behavior
            %span.story-text
              I want to:
            = story.behavior
          %div.story-details--goal
            %span.story-text
              So that:
            = story.goal
          
        %div.pure-u-1-6
          %span{class: "action-button_" + story.id.to_s}
            - if story.iteration_id != 0
              = link_to 'Remove from iteration', removefromiteration_project_story_path(@project, {id: story.id, move: move}), { class: "pure-button pure-button-secondary", remote: true, method: "post", id: "story_button_" + story.id.to_s}
            - else
              = link_to 'Add to current iteration', addtoiteration_project_story_path(@project, {id: story.id, move: move}), { class: "pure-button pure-button-secondary", remote: true, method: "post", id: "story_button_" + story.id.to_s}
          %p
            = story.status.name

