%div.pure-g-r
  %div.pure-u-1
    %h2= "Manage Stories for " + @project.name
%div.pure-g-r
  %div.pure-u-1

    %h3 CURRENT ITERATION
    = link_to 'New story in iteration', new_project_story_path(@project, {iteration_id: @project.iterations.last.id}), { class: "pure-button pure-button-success"}
    = link_to 'Resort by priority', resetsortorder_project_path(@project, iteration_id: @project.iterations.last.id, redirect: manage_project_path(@project)), { class: "pure-button pure-button-secondary", method: "post"}

    %div.story-container
      = render partial: "story_list", locals: { stories: @iteration, list_type: "iteration_ul", move: 1 }

%div.pure-g-r
  %div.pure-u-1
    %h3 ICEBOX
    = link_to 'New story in icebox', new_project_story_path(@project, {iteration_id: 0}), { class: "pure-button pure-button-success"}
    = link_to 'Resort by priority', resetsortorder_project_path(@project, iteration_id: 0, redirect: manage_project_path(@project)), { class: "pure-button pure-button-secondary", method: "post"}
    %div.story-container
      = render partial: "story_list", locals: { stories: @icebox, list_type: "icebox_ul", move: 1  }
