%div.row
  %div.large-6.columns
    %h3= "Manage Stories for " + @project.name
  %div.large-6.columns
    %br
    = link_to "<-- Back to project list", projects_path, {class: "small button"}
%div.row
  %div.large-12.columns

    %h5 CURRENT ITERATION
    = link_to 'New story in iteration', new_project_story_path(@project, {iteration_id: @project.iterations.last.id}), { class: "small button"}
    = link_to 'Resort by priority', resetsortorder_project_path(@project, iteration_id: @project.iterations.last.id, redirect: manage_project_path(@project)), { class: "small button", method: "post"}

    %div.story-container
      = render partial: "story_list", locals: { stories: @iteration, list_type: "iteration_ul", move: 1 }

%div.row
  %div.large-12.columns
    %h5 ICEBOX
    = link_to 'New story in icebox', new_project_story_path(@project, {iteration_id: 0}), { class: "small button"}
    = link_to 'Resort by priority', resetsortorder_project_path(@project, iteration_id: 0, redirect: manage_project_path(@project)), { class: "small button", method: "post"}
    %div.story-container
      = render partial: "story_list", locals: { stories: @icebox, list_type: "icebox_ul", move: 1  }
