%div{:class => "row"}
  %div{:class => "large-12 columns"}
    %h1 Listing stories

    %ul
      - @stories.each do |story|
        %li
          %div= story.business_value
          %div= story.complexity_value
          %div= story.status.name
          %div= link_to story.behavior, project_story_path(@project, story)
          %div= story.comments.count
          %div= link_to 'Edit Story', edit_project_story_path(@project, story)
    %br
    = link_to 'New Story', new_project_story_path(@project)
