%h1 Listing stories

%table
  %thead
    %tr
      %th= 'Goal'
      %th= 'Stakeholder'
      %th= 'Behavior'
      %th

  %tbody
    - @stories.each do |story|
      %tr
        %td= story.goal
        %td= story.stakeholder
        %td= story.behavior
        %td= link_to 'Edit Story', edit_project_story_path(@project, story)
%br
= link_to 'New Story', new_project_story_path(@project)
