%div.criteria-container
  %h4 Acceptance Criteria
  %table.table
    %thead
      %tr
        %th Acceptance Criteria
        %th Dev Test Status
        %th Functional Test Status
    %tbody
      - @story.criteria.each do |criterium|
        %tr
          %td
            = criterium.details
          %td
            %div{class: "dev_" + dom_id(criterium)}
              - if !criterium.dev_test
                = render partial: "criteria/dev_test_unresolved", locals: {criterium: criterium}
              - else
                = render partial: "criteria/dev_test_resolved", locals: {criterium: criterium}
          %td
            %div{class: "functional_" + dom_id(criterium)}
              - if !criterium.functional_test
                = render partial: "criteria/functional_test_unresolved", locals: {criterium: criterium}
              - else
                = render partial: "criteria/functional_test_resolved", locals: {criterium: criterium}

  - criterium = Criterium.new(story_id: @story.id)
  = form_for(criterium) do |f|
    = f.text_field :details
    = f.hidden_field :story_id
    = f.submit "Add Acceptance Criteria", { class: "small button"}