%div.criteria-container
  %h4 Acceptance Criteria
  %table#acceptance-criteria.table
    %thead
      %tr
        %th Acceptance Criteria
        %th Comments
        %th Dev Test Status
        %th Functional Test Status
        %th User
        %th Action
    %tbody
      - @story.criteria.each do |criterium|
        = render partial: "criteria/criterium_details", locals: {criterium: criterium}

  - criterium = Criterium.new(story_id: @story.id)
  = form_for(criterium, remote: true) do |f|
    = f.text_field :details
    = f.hidden_field :story_id
    = f.submit "Add Acceptance Criteria", { class: "small button", method: "post", remote: true}