%div.assigned-users
  - if story.users.size != 0
    %h5 Assigned Users
    %ul.users
      - story.users.each do |user|
        %li
          = user.login_name
          %span.delete-link
            = link_to fa_icon("times-circle"), removeuser_project_story_path(project, story, user_id: user.id), {method: "delete", remote: true, class: "", title: "Delete"}
  - else
    %h5 No users assigned

  %p

  - available_users = User.all - story.users
  - if available_users.size > 0
    = form_tag adduser_project_story_path(project, story), remote: true, class: "pure-form" do
      = select_tag("user_id", options_from_collection_for_select(available_users, 'id', 'login_name'), {class: "pure-input-2-3"})
      %p
      = submit_tag "Add user", {class: "pure-button pure-button-xsmall pure-button-success", method: "post", remote: true}
