%div.assigned-users
  - if story.users.size != 0
    %h5 Assigned Users
    %ul.users
      - story.users.each do |user|
        %li
          = user.name
          %span.delete-link
            = link_to fa_icon("times-circle"), removeuser_project_story_path(project, story, user_id: user.id), {method: "delete", remote: true, class: "", title: "Delete"}
  - else
    %span No users assigned

  %p

  - available_users = User.all - story.users
  - if available_users.size > 0
    = form_tag adduser_project_story_path(project, story), remote: true do
      = select_tag("user_id", options_from_collection_for_select(available_users, 'id', 'name'), {class: "small secondary radius button dropdown"})
      = submit_tag "Add user", {class: "small button", method: "post", remote: true}
