<div class="pure-g-r">
  <div class="pure-u-1">
    <% if @story.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

        <ul>
        <% @story.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="pure-g-r">
  <%= form_for [@project, @story], html: {class: "pure-form pure-form-aligned"} do |f| %>

    <div id="" class="pure-u-2-3 story-form">
      <table class="story-form pure-table">
        <tr>
          <td>
            <%= f.label :stakeholder, "As a" %>
          </td>
          <td>
            <%= f.text_field :stakeholder, { placeholder: "<Stakeholder>"} %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :behavior, "I want to" %>
          </td>
          <td>
            <%= f.text_area :behavior, { placeholder: "<Behavior>" } %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :goal, "So that" %>
          </td>
          <td>
            <%= f.text_area :goal, { placeholder: "<Goal>", class: "pure-input-2-3"} %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :notes, "Notes" %>
          </td>
          <td>
            <%= f.text_area :notes, {placeholder: "Notes"} %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :business_value %>
          </td>
          <td>
            <%= f.select :business_value, 0..5, {}, { class: 'small secondary radius button dropdown'} %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :complexity_value %>
          </td>
          <td>
            <%= f.select :complexity_value, 0..5, {}, { class: 'small secondary radius button dropdown'} %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :status_id %>
          </td>
          <td>
            <%= f.select :status_id, Status.all.collect {|status| [status.name, status.id]}, {}, { class: 'small secondary radius button dropdown'} %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :tag_list %>
          </td>
          <td>
            <%= f.text_field :tag_list %>
          </td>
        </tr>
      </table>

      <%= f.hidden_field :project_id, value: @project.id %>

      <div class="actions">
        <p>
          Iteration
          <br />
          <%= f.select "iteration_id", options_from_collection_for_select(@project.iterations, "id", "name") %>

          <p />
          <%= f.submit "Save Story", { class: 'pure-button' } %>
        <p>
      </div>
    </div>
  <% end %>
</div>