%div{:class => "pure-g-r"}
  %div{:class => "pure-u-1"}
    %h1= @project.name

    = link_to 'New Story', new_project_story_path(@project), { class: "pure-button pure-button-success"}
    = link_to 'Reset Sort Order', resetsortorder_project_path(@project, iteration_id: iteration.id, redirect: redirect), { class: "pure-button pure-button-secondary", method: "post"}

    %p
    .row
      .large-1.columns
        %input{type: "hidden", id: "project_id", name: "project_id", value: "#{@project.id}"}
      .large-10.columns
        %div.story-list
          = render partial: "projects/story_list", locals: {iteration: iteration, stories: @stories, list_type: "iteration_ul", move: 0}
      .large-1.columns
        &nbsp;
