%div.row
  %div.large-12.columns
    - if !notice.blank?
      %div.alert-box.success{ :id => "notice"}= notice

%div.row
  %div.large-2.columns
    %br
    %div.story-text
      %span.story-text In order to
      = @story.goal
      %p

      %span.story-text As a
      = @story.stakeholder
      %p
      
      %span.story-text I want to
      = @story.behavior

    %p
    %div.story-values
      %span.story-business-value 
        BV:
        = @story.business_value
      %span.story-complexity-value 
        CV:
        = @story.complexity_value

    %p
    %div.tags-container
      = @story.tag_list
    
    %P
    %div.story-buttons
      = link_to 'Edit', edit_project_story_path(@project, @story), { class: "small button"}
      %br
      = link_to 'Back', projects_path

  %div.large-10.columns
    %div.row
      %div.large-12.columns
        %div.story-details-container
          %div.notes-container
            

          //= render partial: "comments"

          = render partial: "acceptance_criteria"

          %h4 Notes
          = @story.notes


          
