%div.pure-g-r
  %div.pure-u-1-6
    %div.story-buttons
      = link_to 'Edit', edit_project_story_path(@project, @story), { class: "pure-button pure-button-primary"}
      %p
      = link_to 'Back', project_path(@project)
    %br
    %div
      %span.story-text In order to
      = @story.goal
      %p

      %span.story-text As a
      = @story.stakeholder
      %p
      
      %span.story-text I want to
      = @story.behavior

    %p
    %div.story-values
      %span.story-business-value 
        BV:
        = @story.business_value
      %span.story-complexity-value 
        CV:
        = @story.complexity_value

    %p
    %div.tags-container
      = @story.tag_list
    
    %p
    = render partial: "assign_users", locals: {project: @project, story: @story}

  %div.pure-u-5-6
    %div.pure-g-r
      %div.pure-u-1
        %div.story-details-container
          %div.notes-container
            

          //= render partial: "comments"

          = render partial: "acceptance_criteria"

          %h4 Notes
          = @story.notes