<!DOCTYPE html>
<html>
<head>
  <title>StarterApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <div class="row header">
    <div class="large-12 columns">
      <%= render partial: "shared/notice" %>
      <div id="user_nav">
        <% if current_user %>
          Welcome, <%= current_user.name %>!
          <%= link_to "Sign Out", signout_path %>
        <% else %>
          <% if !Settings.auth.windows and !Settings.auth.twitter and !Settings.auth.github %>
            No authentication is configured.  Please edit config/application.yml
          <% else %>
            Sign in:
            <span class="login-icons">
              <% if Settings.auth.windows %>
                <%= link_to fa_icon("windows"), "/ldap/welcome" %>
              <% end %>
              <% if Settings.auth.twitter %>
                <%= link_to fa_icon("twitter"), "/auth/twitter" %>
              <% end %>
              <% if Settings.auth.github %>
                <%= link_to fa_icon("github"), "/auth/github" %>
              <% end %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</head>
<body>

<%= yield %>

</body>
</html>
